#login {
  background: linear-gradient(120deg, #4c79d3 44.9%, #ffffff 45%) no-repeat fixed;
}

#app {
  background: linear-gradient(120deg, #ffffff 44.9%, #4c79d3 45%) no-repeat fixed;
}

.color-primary {
  color: #4c79d3;
}

.color-secondary {
  color: #4c0070;
}


.header {
  background-color: #fff;
  border-bottom: 1px solid #bebcbc;
  padding: 8px;
}


.icon-details {
  font-size: 50px;
  margin-left: 10px;
  vertical-align: middle;
}

.text-login {
  color: white;
  font-weight: bold;
  font-size: 18px;
}

.coins {
  position: absolute;
  bottom: 140px;
}

.button-login {
  background-color: #4c0070;
  color: white;
  border-radius: 10px;
  width: 50%;
  margin: 0 25%;
  padding: 8px 0;
}

.button-login:hover,
.button-default:hover {
  background-color: #4c79d3;
  color: white;
}

.link-default {
  color: #4c0070;
  cursor: pointer;
}

.link-default:hover {
  color: #4c79d3;
}

.info {
  background-color: #fff;
  border-radius: 20px 20px 0px 0px;
}

.button-default {
  background-color: #4c0070;
  color: white;
  border-radius: 10px;
}

.button-cancel {
  border-radius: 10px;
}

.button-float {
  border-radius: 100%;
  height: 60px;
  width: 60px;
  position: fixed;
  right: 2rem;
  bottom: 1rem;
  font-size: 35px;
  background-color: #4c0070;
  color: white;
  border: 2px solid #4c0070;
}

.button-float:hover {
  background-color: #fff;
  border: 2px solid #4c0070;
  color: #4c79d3;
}

.logout {
  min-width: auto;
}